doctype html
html
  head
    title= title
    //- script(type="text/javascript" src="https://unpkg.com/vue")
    script(type="text/javascript" src="javascripts/vue.min.js")
    script(type="text/javascript" src="javascripts/vue-multiselect.min.js")
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet" href="stylesheets/vue-multiselect.min.css")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
  body
    block content
  footer
    br
    hr(style="margin-bottom: 2px;")
    p(style="margin-top: 0px; text-align: left; font-size: 12px; color:rgb(118,118,119);") This sample uses a cookie to sign your API request.
      span(style="float:right; font-size: 12px; color:rgb(118,118,119);") daten&amp;bass 2017
